/* BG */
QMainWindow {
    background: qlineargradient(
        x1: 0.4, y1: 0.5,       /* ซ้ายบน */
        x2: 0.92, y2: 0.8,       /* ขวาล่าง */
        stop: 0 #269272,    /* สีเริ่ม */
        stop: 1 #174A4E     /* สีจบ */
    );
    background-repeat: no-repeat;
    background-position: center;
}

#mainTitle {
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
    padding-right: 10px;
    padding-left: 20px;
}

#subTitle {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    font-family: "Sukhumvit Set", "Inter", sans-serif;
}


#guideFrame {
    background: qlineargradient(
        x1: 0, y1: 0,        
        x2: 1, y2: 1,        
        stop: 0 #E5F8F9,     
        stop: 1 #D5DEDE      
    );
    border-radius: 22px;
    padding: 10px 15px; /* ลดขนาด Padding ลง */
    margin-left: 10px;
    margin-bottom: 20px;
    max-width: 340px; /* ลดขนาดความกว้างของ Guide */
}


#guideTitle {
    font-size: 18px;
    font-weight: bold;
    color: #2E7D32;
    margin-bottom: 15px;
    margin-left : 20px;
    margin-right: 20px;
    padding: 10px 10px; /* ระยะห่างจากขอบ */
    border: 1px solid #269272; /* กรอบสีเขียว */
    background-color: rgba(38, 146, 114, 0.1); /* สีพื้นหลังเขียวจาง 10% */
    border-radius: 8px; /* มุมโค้งมน */
    text-align: center;
}

#guideStep {
    font-size: 18px;
    color: #555555;
}


#handSignText {
    font-size: 19px;
    font-weight: normal;
    color: #6C7070;
    text-align: center;
    font-family: "Sukhumvit Set", "Inter", sans-serif;
    
}

#cameraFrame {
    background: qlineargradient(
        x1: 0, y1: 0,        
        x2: 1, y2: 1,        
        stop: 0 #E5F8F9,     
        stop: 1 #D5DEDE      
    );
    border-radius: 22px;
    margin-bottom: 20px;
    margin-right: 10px;
    max-width: 1100px; /* เพิ่มความกว้างให้ฝั่งขวาใหญ่ขึ้น */
    padding-bottom: 20px;
    
}

#cameraText {
    font-size: 22px;
    font-weight: bold;
    color: #2E7D32;
    text-align: center;
}

#openButton {
    background-color: #FF3B30;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px; /* ใช้ 50% แทน px เพื่อให้เป็นวงกลม */
    
}

#openButton:hover {
    background-color: #E53935;
}

#micButton, #cameraButton {
    background-color: transparent;
    border-radius: 30px;
}

#micButton:hover, #cameraButton:hover {
    background-color: rgba(46, 125, 50, 0.1);
}


/* 💬 Bubble แชท Barista (ฝั่งซ้าย) */
#chatBubbleBarista {
    background: qlineargradient(
        x1: 0, y1: 0,        
        x2: 1, y2: 1,        
        stop: 0 #E5F8F9,     
        stop: 1 #D5DEDE      
    );
    padding: 15px;
    border-top-left-radius :16px;
    border-top-right-radius : 16px;
    border-bottom-left-radius : 16px;
    max-width: 600px;
    
    margin-top: 30px;
}

/* 💬 Bubble แชทลูกค้า (ฝั่งขวา) */
#chatBubbleUser {
    background: qlineargradient(
        x1: 0, y1: 0,        
        x2: 1, y2: 1,        
        stop: 0 #E5F8F9,     
        stop: 1 #D5DEDE      
    );
    padding: 15px;
    border-top-left-radius :16px;
    border-top-right-radius : 16px;
    border-bottom-right-radius : 16px;
    font-size: 15px;
    max-width: 600px;
}


/* 💬 ข้อความชื่อ */
#chatNameBarista, #chatNameUser {
    font-weight: bold;
    color: #6C7070;
    font-size: 24px;
    color: #666;
}

/* 💬 ข้อความหลัก */
#chatTextBarista, #chatTextUser {
    color: #505050;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;

}

/* 📷 ขนาดรูปแชท */
#chatImage {
    border-radius: 45px;

}